<div id="new-session">
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">

<h1>Log In</h1>

<form action="<%= session_url %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="form-group">
    <label for="user_email">Email</label>
    <input class="form-control" type="text" name="user[email]" value="<%= @user.email %>" id="user_email">
  </div>

  <div class="form-group">
  <label for="user_password">Password</label>
    <input class="form-control" type="password" name="user[password]" id="user_password">
  </div>

  <input type="submit" class="btn btn-default" value="Log in">

</form>


<div class="col-xs-offset-3">
  <h4>Don't have an account? <%= link_to "Start here.", new_user_url %></h4>
</div>

  </div>
</div>
</div>
