<h4>Add Notebook</h4>
<form id="notebook-form">
  <label for="title"></label>
    <input type="text" name="title" placeholder="New Notebook Title" id="title">
  <input type="submit" value="+">
</form>
