<h2>Notes</h2>

<form action="" class="search-form">
    <div class="form-group has-feedback">
    <label for="search" class="sr-only">Search</label>
    <input type="text" class="form-control" name="search" id="note-search" data-list=".notes-list" placeholder="Search Notes!">
      <span class="fa fa-search form-control-feedback"></span>
  </div>
</form>

<br><br>

<nav class="nav-sidebar">
  <ul class="nav notes-list"></ul>
</nav>
