<h2>Notes</h2>
<input id="note-search" name="note-search" placeholder="Search" type="text" data-list=".fake-list">
<ul class="fake-list">
  <li>ABCDEFG</li>
  <li>0123456</li>
  <li>The quick brown fox</li>
  <li>jumped over the lazy</li>
  <li>dog!!!!!?!1012</li>
  <li> ~ sp00ky ~ </li>
</ul>

<ul class="notes-list"></ul>
<div class="note-new"></div>
