// body {padding-top:50px;}

.notebook-select {
  margin-top: 20px;
}

.box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  text-align: left;
  display: block;
  margin-top: 20px;
}
.box-icon {
  background-color: #2C3E50;
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  margin-top: -61px;
}

.box-icon:hover {
 background-color: #3498DB;
 cursor: pointer;
 cursor: hand;
}

.box-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.info h1 {
  margin-top: -10px;
  margin-bottom: -7px;
  font-style: italic;
  // font-size: 26px;
  // letter-spacing: 2px;
  // text-transform: uppercase;
}

.info #body {
  border-radius: 3px;
  // background-color: #EEEEEE;
  font-size: 18px;
  min-height: 4em;
}

// .info > p {
// }

.info > button {
  border: none;
  background-color: #03a9f4;
  border-radius: 2px;
  // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: all 0.5s ease 0s;
}
.info > button:hover {
  background-color: #0288d1;
  // box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: all 0.5s ease 0s;
}
